.popup_wrapper {
    position: fixed;
    background-color: rgba(90, 90, 90, .4);
    width: 100%;
    height: 100%;
    z-index: 5;
    display: initial;
}

.popup_inner {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: fixed;
    height: inherit;
    background-color: white;
    width: 80%;
    height: 90%;
    top: 5%;
    left: 10%;
    border-radius: .25rem;
}

.popup_data {
    background-color: rgba(255, 255, 255, .9);
    width: auto;
    z-index: 6;
    position: fixed;
    top: 4rem;
    border-radius: .25rem;
}

.header_row {
    display: flex;
    flex-direction: row;
}

.search_row {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 1rem;
    margin-left: 1rem;
}

.search_row input {
    width: 15rem;
    height: 1.5rem;
    border-radius: .15rem;
    border: none;
    padding-left: .25rem;
}

#calcButton {
    background-color: #e31b23;
    width: 7.5rem;
    border-radius: .15rem;
    margin: 0 .5rem;
    padding: .4rem;
    cursor: pointer;
    color: white;
}

#calcButton:hover {
    background-color: #b4161b;
}

#clearButton {
    margin-right: .5rem;
    margin-top: .25rem;
    cursor: pointer;
}

#addressInput {
    border: 1px black solid;
}

.lower_row {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.textDisplay {
    width: 11.3rem;
    margin-left: 1rem;
}

#centerButton {
    cursor: pointer;
}

.display_wrapper {
    display: flex;
    flex-direction: row;
}

.popup_display {
    width: 97.5%;
    height: 97.5%;
}

.popup_exit {
    position: fixed;
    z-index: 6;
    top: 6%;
    left: 11%;
    background-color: rgba(255, 255, 255, .9);
}

.popup_exit button {
    cursor: pointer;
}

.mapContainer {
    width: 100%; 
    height: 100%;
    border-radius: .1rem;
}