
html,body {
    height: 100%;
}

#root {
    height: 100%;
}

#allContent {
    display: flex;
    flex-direction: row;
    height: 100%;
}

#mainPanel {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 85%;
}
#logo {
    max-width:30vw;
    height:auto;
    margin: 2vw;
}

