.col-md-2 {
    text-align: left;
}

.order-item {
    background-color: rgb(215, 241, 251);
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 20px;
}

.row {
    padding-bottom: 20px;
}

button {
    background-color: rgb(201, 16, 16);
    border: none;
    font-size: 2rem !important;
    color: white;
}