.genericTable {
    border: 3px solid green;
    margin: 2%;
    max-height: 440px;
    overflow-y: scroll;
}

.css-pdct74-MuiTablePagination-selectLabel {
    margin-top: auto;
}

.css-levciy-MuiTablePagination-displayedRows {
    margin-top: auto;
}