.button-holder {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 2%;
}

.button-holder button {
    background-color: rgb(201, 16, 16);
    width: 20vw;
    height: 3vw;
    margin: 0 1vw;
    font-size: 2rem;
    border-radius: 1rem;
    border-width: .10rem
}

.button-holder button:hover {
    background-color: rgb(201, 100, 100);
    width: 20vw;
    height: 3vw;
    margin: 0 1vw;
    font-size: 2rem;
    border-radius: 1rem;
    cursor: pointer;
    border-width: .25rem;
}